In [ ]:
import pandas as pd
from datetime import datetime


df_evento = pd.read_csv("csv/Evento.csv")
df_local = pd.read_csv("csv/Local.csv")
df_participante = pd.read_csv("csv/Participante.csv")
df_festival = pd.read_csv("csv/Festival.csv")

df_evento = df_evento.merge(
    df_participante,
    on='participacao',
    how='left'  # para manter todos os eventos
)

df_evento.drop(columns=['participacao'], inplace=True)

df_evento = df_evento.merge(
    df_local[['id_local', 'palco', 'local']],
    on=['palco', 'local'],
    how='left'
)

df_evento.drop(columns=['palco', 'local'], inplace=True)

df_evento = df_evento.drop_duplicates()

df_evento['id_festival'] = 1
df_evento['id_evento'] = range(1, len(df_evento) + 1)

# Passar para YYYY-MM-DD
def normalizar_data(data):
    try:
        # remover espaços e converter
        return datetime.strptime(data.strip(), "%m/%d/%Y").strftime("%Y-%m-%d")
    except Exception:
        return data

# Aplicar aos atributos
df_evento["data_inicio"] = df_evento["data_inicio"].apply(normalizar_data)
df_evento["data_fim"] = df_evento["data_fim"].apply(normalizar_data)
df_festival["data_inicio"] = df_festival["data_inicio"].apply(normalizar_data)
df_festival["data_fim"] = df_festival["data_fim"].apply(normalizar_data)

def obter_ids_eventos_local(id_local):
    ids = df_evento[
        df_evento['id_local'].astype(str).str.contains(rf'\b{id_local}\b', regex=True)
    ]['id_evento']
    return ', '.join(ids.astype(str)) if not ids.empty else ''

df_local['id_evento'] = df_local['id_local'].apply(obter_ids_eventos_local)

def obter_ids_eventos_participante(id_participante):
    ids = df_evento[
        df_evento['id_participante'].astype(str).str.contains(rf'\b{id_participante}\b', regex=True)
    ]['id_evento']
    return ', '.join(ids.astype(str)) if not ids.empty else ''

df_participante['id_evento'] = df_participante['id_participante'].apply(obter_ids_eventos_participante)

df_evento.to_csv("csv/Evento.csv", index=False)
df_local.to_csv("csv/Local.csv", index=False)
df_participante.to_csv("csv/Participante.csv", index=False)
df_festival.to_csv("csv/Festival.csv", index=False)

In [1]:
import pandas as pd

In [ ]:
df_evento = pd.read_csv("csv/Evento.csv")
print(df_evento.info())

df_local = pd.read_csv("csv/Local.csv")
print(df_local.info())

df_participante = pd.read_csv("csv/Participante.csv")
print(df_participante.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_evento              260 non-null    int64
 1   nome                   260 non-null    object
 2   tipo                   239 non-null    object
 3   descricao              196 non-null    object
 4   data_inicio            260 non-null    object
 5   data_fim               15 non-null     object
 6   horario                250 non-null    object
 7   bilhetes               28 non-null     object
 8   duracao                85 non-null     object
 9   publico_alvo           98 non-null     object
 10  num_min_participantes  3 non-null      float64
 11  num_max_participantes  39 non-null     object
 12  outras_informacoes     112 non-null    object
 13  imagem                 62 non-null     object
 14  id_participante        174 non-null    float64
 15  id_local               253 non-null    float64
 16  id_festival            260 non-null    int64
dtypes: float64(3), int64(2), object(12)
memory usage: 34.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_local    51 non-null     int64
 1   palco       5 non-null      object
 2   local       51 non-null     object
 3   id_eventos  51 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_participante  97 non-null     int64
 1   participacao     97 non-null     object
 2   id_eventos       96 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.4+ KB
None

In [16]:
from datetime import datetime

df_festival = pd.read_csv("csv/Festival.csv")

# Passar para YYYY-MM-DD
def normalizar_data(data):
    try:
        # remover espaços e converter
        return datetime.strptime(data.strip(), "%m/%d/%Y").strftime("%Y-%m-%d")
    except Exception:
        return data

# Aplicar aos atributos
df_evento["data_inicio"] = df_evento["data_inicio"].apply(normalizar_data)
df_evento["data_fim"] = df_evento["data_fim"].apply(normalizar_data)
df_festival["data_inicio"] = df_festival["data_inicio"].apply(normalizar_data)
df_festival["data_fim"] = df_festival["data_fim"].apply(normalizar_data)

In [18]:
df_festival

,id_festival,nome,organizado_por,descricao,data_inicio,data_fim,parceiro,imagem,site_web
0,1,Braga é Natal,Município de Braga,"Em dezembro, Braga transforma-se num cenário m...",2024-12-01,2025-01-12,"AEB - ASSOCIAÇÃO EMPRESARIAL DE BRAGA, AGERE, ...","image1, image2, image75",https://braganatal.cm-braga.pt/

In [23]:
df_evento

,id_evento,nome,tipo,descricao,data_inicio,data_fim,horario,bilhete,duracao,publico_alvo,num_min_participantes,num_max_participantes,outras_informacoes,imagem,id_participante,id_local,id_festival
0,1,Lemon Kids Party,Evento indoor,"O LEMON KIDS PARTY é um evento indoor, destina...",2024-12-01,NaN,10h00 às 13h00 e 15h00 às 18h00,"€12,90 (Entrada gratuita para crianças entre o...",NaN,NaN,NaN,NaN,NaN,image3,<NA>,1,1
1,2,Vozes do Natal,Concerto,NaN,2024-12-01,NaN,11h00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1
2,3,CAUM é Natal,Concerto,O Coro Académico da Universidade do Minho leva...,2024-12-01,NaN,12h00,NaN,NaN,NaN,NaN,NaN,NaN,image4,2,2,1
3,4,Valdeste e Natal Tradicional,Concerto,Este concerto engloba os 2 trabalhos mais rece...,2024-12-01,NaN,15h00,NaN,60’,NaN,NaN,NaN,NaN,image5,3,2,1
4,5,Soldadinhos de Chumbo,Percussão,NaN,2024-12-01,NaN,16h30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,256,Bolo Rei Gigante,NaN,Esta ação pretende fomentar uma maior dinamiza...,2024-12-14,NaN,NaN,1€ (ida e volta),NaN,NaN,NaN,NaN,NaN,NaN,78,<NA>,1
256,257,Parada de Natal,NaN,Esta ação pretende fomentar uma maior dinamiza...,2024-12-15,NaN,NaN,1€ (ida e volta),NaN,NaN,NaN,NaN,NaN,NaN,78,<NA>,1
257,258,46.ª Edição da Corrida de S. Silvestre,NaN,Esta ação pretende fomentar uma maior dinamiza...,2024-12-22,NaN,NaN,1€ (ida e volta),NaN,NaN,NaN,NaN,NaN,NaN,78,<NA>,1
258,259,Bananeiro da Pequenada,NaN,Esta ação pretende fomentar uma maior dinamiza...,2024-12-24,NaN,NaN,1€ (ida e volta),NaN,NaN,NaN,NaN,NaN,NaN,78,<NA>,1
259,260,Passagem de Ano,NaN,Esta ação pretende fomentar uma maior dinamiza...,2024-12-31,NaN,NaN,1€ (ida e volta),NaN,NaN,NaN,NaN,NaN,NaN,78,<NA>,1

In [ ]:
df_local

,id_local,palco,local,id_evento
0,1,NaN,Forum Braga,"1, 32, 49, 85, 101, 106, 121, 129, 174, 177, 1..."
1,2,Palco Braga é Natal,Avenida Central,"2, 3, 4, 8, 10, 11, 14, 15, 17, 18, 22, 23, 25..."
2,3,NaN,Ruas do Centro Histórico,"5, 43, 46, 55, 95, 103, 107, 111, 115, 128, 13..."
3,4,NaN,Avenida Central,"6, 7, 38, 171"
4,5,Laboratório de Natal,Avenida Central,"9, 12, 13, 16, 19, 20, 24, 28, 31, 48, 59, 63,..."
5,6,NaN,Biblioteca Lúcio Craveiro da Silva,"21, 69, 76, 113, 117, 124, 133, 136, 145, 172"
6,7,NaN,Theatro Circo,"26, 100, 191, 192"
7,8,NaN,Auditório Biblioteca Lúcio Craveiro da Silva,27
8,9,Mesa na Praça,Mercado Municipal,"34, 37, 52"
9,10,NaN,Igreja do Hospital de S. Marcos,36
10,11,NaN,Quinta Pedagógica de Braga,"39, 58, 62, 68, 74, 79"
11,12,NaN,Mercado Municipal,"40, 41, 44, 45, 64, 87, 88, 91, 142"
12,13,NaN,Largo Barão de S. Martinho,"53, 102, 148, 151, 156, 161, 163, 176, 178, 179"
13,14,NaN,Teatro da Escola Secundária Sá de Miranda,"72, 78, 82"
14,15,NaN,Sacristia-mor da Sé de Braga,86
15,16,NaN,Praça Municipal,"93, 94"
16,17,NaN,Salão Medieval da Reitoria da Universidade do ...,"97, 140, 173, 175, 182"
17,18,NaN,Capela da Imaculada,98
18,19,Ludoteca da Estufa,Parque S. João da Ponte,"118, 120, 123, 127, 132, 135"
19,20,NaN,Palácio do Raio,"126, 137"
20,21,NaN,Igreja do Carmo,130
21,22,NaN,Praça da República,164
22,23,Mercado de Natal,Avenida Central,"165, 211"
23,24,NaN,GNERATION,"185, 186, 187, 188"
24,25,NaN,Museu dos Biscainhos,"189, 190"
25,26,NaN,Museu Pio XII,"201, 202"
26,27,NaN,Posto de Turismo,"203, 204"
27,28,NaN,Zet Gallery,206
28,29,NaN,Largo do Pópulo,210
29,30,NaN,SANTA CASA DA MISERICÓRDIA DE BRAGA – ERPI N.ª...,212
30,31,NaN,CENTRO CULTURAL E SOCIAL DE SANTO ADRIÃO,213
31,32,NaN,CENTRO SOCIAL DA PARÓQUIA DE NOGUEIRA,214
32,33,NaN,SANTA CASA DA MISERICÓRDIA DE BRAGA – ERPI NEV...,215
33,34,NaN,CENTRO COMUNITÁRIO DE S. MARTINHO DE DUME,216
34,35,NaN,CENTRO SOCIAL PADRE DAVID DE OLIVEIRA MARTINS,217
35,36,NaN,ASSOCIAÇÃO DE ASSISTÊNCIA S. VICENTE DE PAULO,218
36,37,NaN,LAR D. PEDRO V,219
37,38,NaN,ASSOCIAÇÃO DE SOLIDARIEDADE SOCIAL DE S. TIAGO...,220
38,39,NaN,ASSOCIAÇÃO DE PAIS E AMIGOS DA FREGUESIA DE CUNHA,221
39,40,NaN,SANTA CASA DA MISERICÓRDIA DE BRAGA – ERPI D. ...,222
40,41,NaN,LAR CONDE DE AGROLONGO,223
41,42,NaN,"ASSOCIAÇÃO DE REFORMADOS, PENSIONISTAS E IDOSO...",224
42,43,NaN,ANIMA UNA – ASSOCIAÇÃO DE APOIO SOCIAL,225
43,44,NaN,ASILO DE S. JOSÉ,226
44,45,NaN,Priscos,227
45,46,NaN,Mosteiro de S. Martinho de Tibães,228
46,47,NaN,Igreja de Este S. Mamede,"229, 230, 231, 232, 233, 234"
47,48,NaN,Igreja de Este S. Pedro,"235, 236, 237, 238, 239, 240, 241, 242, 243"
48,49,NaN,Moinho Este S. Pedro,244
49,50,NaN,Adro da Igreja Paroquial de Santa Lucrécia de ...,"245, 246, 247"
50,51,NaN,Sequeira,"248, 249, 250, 251, 252, 253, 254"

In [15]:
df_participante

,id_participante,participacao,id_evento
0,1,ACIJE - Associação do Coro Infanto-Juvenil de ...,2
1,2,Coro Académico da Universidade do Minho,3
2,3,Origem Tradicional,"4, 141"
3,4,Grupo de Percussão da Equipa Espiral,5
4,5,Anjos,6
...,...,...,...
92,93,Grupo Coral dos Alunos da Antiga Escola Indust...,223
93,94,Grupo Folclórico Dr. Gonçalo Sampaio,224
94,95,Associação de Idosos do Centro Histórico de Braga,225
95,96,Grupo Cénico Cultural e Beneficente de Arentim,226
96,97,UF Santa Lucrécia de Algeriz e Navarra e Assoc...,"245, 246, 247"

In [32]:
df_evento = df_evento.merge(
    df_participante,
    on='participacao',
    how='left'  # para manter todos os eventos
)

In [34]:
df_evento.drop(columns=['participacao'], inplace=True)

In [ ]:
df_evento = df_evento.merge(
    df_local[['id_local', 'palco', 'local']],
    on=['palco', 'local'],
    how='left'
)

df_evento.drop(columns=['palco', 'local'], inplace=True)

In [21]:
#Converter float para int
df_evento['id_local'] = df_evento['id_local'].astype('Int64') 
df_evento['id_participante'] = df_evento['id_participante'].astype('Int64')

In [45]:
df_evento = df_evento.drop_duplicates()

In [47]:
df_evento['id_festival'] = 1

In [49]:
df_evento['id_evento'] = range(1, len(df_evento) + 1)

In [22]:
df_evento.to_csv("csv/Evento.csv", index=False)

In [ ]:
def obter_ids_eventos(id_local):
    # garantir que compara como número ou como string conforme os dados
    ids = df_evento[
        df_evento['id_local'].astype(str).str.contains(rf'\b{id_local}\b', regex=True)
    ]['id_evento']
    return ', '.join(ids.astype(str)) if not ids.empty else ''

# Aplicar a função a cada linha do DataFrame de autores
df_local['id_eventos'] = df_local['id_local'].apply(obter_ids_eventos)

In [ ]:
df_local.to_csv("csv/Local.csv", index=False)

In [ ]:
def obter_ids_eventos(id_participante):
    ids = df_evento[
        df_evento['id_participante'].astype(str).str.contains(rf'\b{id_participante}\b', regex=True)
    ]['id_evento']
    return ', '.join(ids.astype(str)) if not ids.empty else ''

# Aplicar a função a cada linha do DataFrame de autores
df_participante['id_eventos'] = df_participante['id_participante'].apply(obter_ids_eventos)

In [12]:
df_participante.to_csv("csv/Participante.csv", index=False)

In [20]:
df_festival.to_csv("csv/Festival.csv", index=False)